<!--
<div class="containter">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLinkActive="active" routerLink="ui">UI</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="dashboard">Dashboard</a>
      </li>
      <li>
        <a routerLinkActive="active" routerLink="itemLogsDashboard">PC Refresh Logs</a>
      </li>
    </ul>
  </nav>
</div>

-->
<router-outlet></router-outlet>