

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;

background-color: #eca101!important;
    text-decoration: none;
    font-size: initial;
}

.row {
    margin-right: -15px;
    margin-left: -183px;
}


.btn-primary {
    color: #fff;
    background-color: #049FD9;
}


.header-bar{
    display: flex !important;
    align-items: center !important;
    height: 54px;
    height: 110px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;

}

