<html
    class="js sizes no-customelements history pointerevents postmessage webgl websockets cssanimations csscolumns csscolumns-width no-csscolumns-span csscolumns-fill csscolumns-gap csscolumns-rule csscolumns-rulecolor csscolumns-rulestyle csscolumns-rulewidth no-csscolumns-breakbefore no-csscolumns-breakafter no-csscolumns-breakinside flexbox picture srcset webworkers"
    lang="" ng-app=chatbot>

<head>
    <title>Suite Feedback & Support</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="locale" content="US">
    <meta name="language" content="en">
    <meta name="country" content="US">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>O365 SUITE Feedback &amp; Support</title>
    <link rel="manifest" href="https://officesuite.cloudapps.cisco.com/site.webmanifest">
    <link rel="apple-touch-icon" href="https://officesuite.cloudapps.cisco.com/icon.png">


    <link rel="stylesheet" href="assets/core2/cui-standard.css">
    <link rel="stylesheet" href="assets/core2/custom.css">
    <link rel="stylesheet" href="assets/core/css/commonStyles.min.css">
    <link rel="stylesheet" href="assets/core/css/bootstrap.min.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="https://www.cisco.com/favicon.ico">
    <link rel="shortcut icon" type="image/vnd.microsoft.icon" href="https://www.cisco.com/favicon.ico">
    <script src="assets/core2/modernizr-3.js"></script>
    <script src="assets/core2/jquery-3.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="assets/core2/plugins.js"></script>
    <script src="assets/core2/main.js"></script>
    <script type="text/javascript" src="assets/core/lib/lib.min.js"></script>
    <script type="text/javascript" src="assets/app/app.module.min.js"></script>
    <script type="text/javascript" src="assets/app/app.route.min.js"></script>

</head>

<body class="cui cui--wide cui--animated">

    <header class="header" style="padding-right: 363px;font-size: 24px;">
        <div class="header-bar container">
            <a href="" class="header-bar__logo">
                <img src="assets/core2/logo1.png">
            </a>
            <div class="header-bar__main">
                <div class="header-breadcrumbs">
                </div>
                <div class="header-heading">
                    <h1 class="page-title" style="font-size:24px;">KryptoBlocks Feedback and support for offline suite
                    </h1>

                </div>

            </div>
            <div class="header-toolbar">

            </div>
        </div>
    </header>



    <div class=" full_width_container">
        <div class="os_content">
            <div class="main_title">

                <nav class="navbar navbar-default"
                    style="width: 135%;margin-left: -75px;background-color: #049FD9;margin-top: -41px;">
                    <div class="container-fluid">
                        <div class="navbar-header">
                        </div>
                        <ul class="nav navbar-nav">
                            <li class="active" style="margin-right: 1558px;"><a href="#">HOME</a></li>
                            <li class="active" style="margin-top: -50px;margin-left: 85px;"><a routerLinkActive="active"
                                    routerLink="/dashboard">AMP Dashboard</a></li>
                            <li class="active" style="margin-top: -50px;margin-left: 240px;"><a
                                    routerLinkActive="active" routerLink="/itemLogsDashboard">LOGS Dashboard</a></li>

                        </ul>
                    </div>
                </nav>


                <h1>Let us help you...</h1>
            </div>
        </div>
        <div class="os_content">
            <div class="os_card_container">

                <div class="os_card panel--raised-medium">
                    <div class="os_card_icon">
                        <img src="assets/core2/assistant.png">
                    </div>
                    <div class="os_card_title">
                        <h4>Ask our Virtual Assistant</h4>
                    </div>
                    <div class="os_card_text">
                        <p class="subtitle">Chat directly with an IT specialist for help with minor issues.</p>
                    </div>
                    <div style="text-align: left" ui-view="">
                        <button type="button" class="btn btn-primary" (click)="openModalWithComponent()"
                            style="background-color: #01587a;">Ask me anything </button>
                    </div>
                </div>

                <div class="os_card panel--raised-medium">
                    <div class="os_card_icon">
                        <img src="assets/core2/support.png">
                    </div>
                    <div class="os_card_title">
                        <h4>Support Resources</h4>
                    </div>
                    <div class="os_card_text ">
                        <p class="subtitle">A number of resources are available to you...</p>
                        <p><a href="https://cisco.jiveon.com/docs/DOC-1937878" target="_blank">FAQs</a><br>
                            Frequently asked questions about the Microsoft
                            Office suite, including installation, migration and "how to" info.
                        </p>
                        <p><a href="https://cisco.jiveon.com/groups/icx-pilot/pages/known-issuessupport"
                                target="_blank">Discussion
                                Groups</a><br>
                            Forum to ask questions and get supportfrom the Office Suite Community.
                        </p>
                    </div>
                </div>

                <div class="os_card panel--raised-medium">
                    <div class="os_card_icon">
                        <img src="assets/core2/feedback.png">
                    </div>
                    <div class="os_card_title">
                        <h4>Feedback &amp; Suggestions</h4>
                    </div>
                    <div class="os_card_text">
                        <p class="subtitle">We'd love to get your feedback. Tell us what you think about any of these
                            aspects of the Cisco deployment of Office Suite</p>
                        <p><a href="https://pwc018.cloudapps.cisco.com/wsrp/pwc018/mobile/view/widget/277003/InTouch"
                                target="_blank">Productivity Tools</a></p>
                        <p><a href="https://pwc018.cloudapps.cisco.com/wsrp/pwc018/mobile/view/widget/277003/InTouch"
                                target="_blank">Email &amp; Calendaring</a></p>
                        <p><a href="https://pwc018.cloudapps.cisco.com/wsrp/pwc018/mobile/view/widget/277003/InTouch"
                                target="_blank">Sharing Tools</a></p>
                    </div>
                </div>
            </div>

        </div>






    </div>
</body>









</html>