body.cui{background-color:#f2f2f2;overflow-y:scroll}
body.cui .full_width_container{width:100%;max-width:1440px;margin-left:auto;margin-right:auto}
body.cui .main_title{padding:0 20px}body.cui .os_content{width:100%;padding:40px 10px 0 10px}
body.cui .os_content p{margin-bottom:15px}body.cui .os_card_container
{display:flex;flex-direction:column;justify-items:center}body.cui .os_card
{background-color:#fff;min-height:200px;width:100%;max-width:600px;margin:10px auto;padding:40px}
body.cui .os_card_title h4{font-weight:100}body.cui .os_card_text .subtitle,body.cui .os_card_text a
{font-size:medium}body.cui .page_subtext{font-size:medium;font-weight:300}body.cui .os_card_icon,body.cui .os_card_action{display:flex;justify-content:center;padding:20px 0 20px 0}
@media (min-width: 992px)
{body.cui .os_card_container
    {flex-direction:row;justify-content:space-between}
    body.cui .os_card{max-width:400px;min-height:400px}}
