.row {
    margin-right: -15px;
    margin-left: -183px;
}





    .header-bar{
        display: flex !important;
        align-items: center !important;
        height: 54px;
        height: 110px;
    }

 .header-heading{
    display: flex;
    align-items: center;

    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 0;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;

    background-color: #eca101!important;
        text-decoration: none;
        font-size: initial;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 28px;

    margin-top: 45px;
    border: #8681b2;
box-shadow: 0 16px 11px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.row {
    margin-right: -15px;
    margin-left: -100px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
}