.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

/* Darker background on mouse-over */

.btn:hover {
    background-color: RoyalBlue;
}

.bluebackground {
    background-color: #D3D3D3;
}

.menuwindow {
    width: 200px;
    height: 200px;
    overflow: auto;
}