<div class="menuwindow">
  <div class="form-input">
    <!-- <input type="image" src="assets/icons/printer1.png" width="24" height="24" (click)="onClickPrintChatConversation()"> Print Chat Conversation -->
    <button class="btn btn-primary" (click)="onClickPrintChatConversation()">Print Chat Conversation</button>
    <!-- <input type="image" src="assets/icons/printer1.png" width="24" height="24" (click)="onClickPrintChatConversation()"/>Print Chat Conversation -->
  </div>
  <div class="form-input">
    <button class="btn btn-primary" (click)="onClickRecentHistory()">Recent History</button>
    
  </div>
</div>