<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>


<div class="modal-content" style="border-color: blue !important;">

  <div class="modal-header" style="background-color: rgb(4, 159, 217);">

    <h4 class="modal-title pull-left"> {{title}}</h4>

    <div class="container-fluid">
      <div class="navbar-header">
        <div class="test" style="padding: 0px;margin-left: -126px;"> </div>
      </div>
    </div>
  </div>

  <div class="modal-body">
    <div class="container">

      <form #addTrainingDataForm="ngForm">
        <p>Please insert single training data</p>
        <hr>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Question <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="trainingData.question" name="question" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Answer <span class="text-danger">*</span></label>
            <input type="text" class="form-control" [(ngModel)]="trainingData.answer" name="answer" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>Feedback</label>
            <input type="text" class="form-control" [(ngModel)]="trainingData.feedback" name="feedback">
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-6">
            <label>SME</label>
            <input type="text" class="form-control" [(ngModel)]="trainingData.sme" name="sme">
          </div>
        </div>

        <div class="btn-toolbar" role="toolbar">
          <div class="btn-group">
            <button [disabled]="addTrainingDataForm.invalid" class="btn btn-primary btn-lg" (click)="onClickAddTrainingData()">Insert</button>
          </div>
          <div class="btn-group">
              <button class="btn btn-primary btn-lg" (click)="onClickCancel()">Cancel</button>
          </div>
        </div>

      </form>

    </div>

  </div>
</div>