.modal-body {
    position: relative;
    padding: 0px;
    width: 100%;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}

.modal-lg {
    width: 599px;
}

.sprite.grey-dots {
    background-position: -37px -6px;
    width: 24px;
    height: 26px;
    cursor: pointer;
    float: left;
}

.test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e
}

textarea {
    resize: none;
}

.readonly {
    display: block;
    position: relative;
    background: #049FD9;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    border-radius: 9px 9px 0 9px;
    margin-left: 5%;
    margin-right: 12%;
    word-wrap: break-word;
    margin-top: 20px;
    box-shadow: -5px -5px 10px -2px rgba(0, 0, 0, .4);
    width: auto;
    max-width: 70%;
    float: right;
    clear: both;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.chatbox {
    /* height: 100x; */
    border: 1px solid #ccc;
    padding: 16px;
}

.messages {
    height: 600px;
    overflow: auto;
}

.mybackground {
    background-color: #D3D3D3;
}
