.cui .header {
    flex-shrink: 0;
    background: #ffffff;
   
    z-index: 1030;
    overflow: visible;
}

.container {
    max-width: 1600px;
        padding-right: 20px;
    padding-left: 20px;
}


.header-bar{
    display: flex !important;
    align-items: center !important;
    height: 54px;
    height: 110px;
}

.header-heading{
display: flex;
align-items: center;

top: 0;
right: 0;
bottom: 0;
left: 0;
margin-left: 0;
}


a{
    color: #017CAD;
    font-weight: normal;
    background: transparent;
    text-decoration: none;
    border-radius: 0;
}


table {
margin-top: -91px;
background-color: #fff;
border: #8681b2;
box-shadow: 0 16px 11px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}

.bs-media-container
{
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;

    background-color: #eca101!important;
        text-decoration: none;
        font-size: initial;
}

.row {
    margin-right: -15px;
    margin-left: -100px;
}
