<link rel="stylesheet" href="https://unpkg.com/ngx-bootstrap/datepicker/bs-datepicker.css">
<body class="cui cui--wide cui--animated">

<header class="header" style="padding-right: 363px;font-size: 24px;">
  <div class="header-bar container">
    <a href="" class="header-bar__logo">
      <img src="assets/core2/ciscologo.png">
    </a>
    <div class="header-bar__main">
      <div class="header-breadcrumbs">
      </div>
      <div class="header-heading">
        <h1 class="page-title" style="font-size:24px;">KryptoBlocks Feedback and support for offline suite</h1>

      </div>

    </div>
    <div class="header-toolbar">

    </div>
  </div>
</header>


<div class="container">

  <nav class="navbar navbar-default" style="width: 146%; margin-left: -179px;background-color: #049FD9;">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a routerLinkActive="active" routerLink="/ui" style="margin-right: 16px;">Home</a></li>
        <li class="active"><a routerLinkActive="active" routerLink="/dashboard" style="margin-right: 16px;">AMP
            Dashboard</a></li>
        <li class="active"><a routerLinkActive="active" routerLink="/itemLogsDashboard">Pc Refresh Logs Dashboard</a></li>

      </ul>
    </div>
  </nav>


  <div class="row">
    <div class="col-xs-6 col-md-2">
      <label>Start Date</label><br>

      <input type="text" class="form-control" [(ngModel)]="searchStartTimeString" name="searchStartTimeString"
        [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
        [minDate]="minDate" [maxDate]="maxDate" placeholder="dd-mm-yyyy" autocomplete="off" bsDatepicker>
    </div>

    <div class="col-xs-6 col-md-2">
      <label>End Date</label><br>
      <input type="text" class="form-control" [(ngModel)]="searchEndTimeString" name="searchEndTimeString" [bsConfig]="{ containerClass: 'theme-dark-blue', dateInputFormat: 'DD-MM-YYYY', showWeekNumbers: false}"
        [minDate]="minDate" [maxDate]="maxDate" placeholder="dd-mm-yyyy" autocomplete="off" bsDatepicker>
    </div>

    <div class="col-xs-6 col-md-2">
      <label>Feedback</label>
      <select class="form-control" name="searchFeedbackType" [(ngModel)]="searchFeedbackType">
        <option value="All">All</option>
        <option value="Like">Like</option>
        <option value="Dislike">Dislike</option>
        <option value="N/A">N/A</option>
      </select>
    </div>

    <div class="col-xs-6 col-md-2">
      <label>Answer</label>
      <select class="form-control" name="searchAnswerType" [(ngModel)]="searchAnswerType">
        <option value="All">All</option>
        <option value="Answered">Answered</option>
        <option value="Unanswered">Unanswered</option>
      </select>
    </div>
    <div class="col-xs-12 col-md-4 marginTop15">
      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="onClickSearchItems()" style="padding: 11px 17px 10px 16px;margin-top: 17px;margin-left:-33px">
          Search </button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="onClickReset()" style="padding: 11px 17px 10px 16px;margin-top: 17px;margin-top: 17px; margin-left: 131px;">
          Reset </button>
      </div>
      <div class="col-sm-2">
        <button class="btn btn-primary" [disabled]="!isTrainingDataUpdated" (click)="onClickSaveRetrain()" style="padding: 11px 17px 10px 16px;margin-top: 17px;margin-top: 17px;
        margin-left: 184px;">
          Save &
          Retrain </button>
      </div>

      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="onClickDownloadTrainingData()" style="padding: 11px 17px 10px 16px;margin-top: 17px;margin-top: 17px;  margin-left:-109px;">
          Download CSV</button>

      </div><br><br><br><br><br>

      <div class="col-sm-2">
        <input type="file" accept=".csv" (change)=" onClickUploadFile($event)" />
      </div>

      <div class="col-sm-2">
        <button class="btn btn-primary" (click)="onClickUploadTrainingData()" style="margin-left: 586%;padding: 11px 17px 10px 16px;margin-top: -12px;">Upload
          CSV </button>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <button class="btn btn-primary" (click)="openModalWithComponent()" style="margin-top: -66px;
    margin-left: 919px;
    padding: 11px 17px 10px 16px;">Add
      Training Data </button>
  </div>


  <div class="row">
    <h4>A total of {{trainingDataArr.length}} records.</h4>
  </div>
  <div class="row mainSection">
    <div class="col-md-12">
      <div style="margin: 120px auto; width: 50px;">
        <div class="loader"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <table class="table table-striped" [mfData]="trainingDataArr" #mf="mfDataTable" [mfRowsOnPage]="10">
        <thead>
          <tr>
            <th width="10%" style="color: white;">
              <mfDefaultSorter by="log_date">Date</mfDefaultSorter>
            </th>
            <th width="20%" style="color: white;">
              <mfDefaultSorter by="question">Question</mfDefaultSorter>
            </th>
            <th width="30%" style="color: white;">
              <mfDefaultSorter by="answer">Answer</mfDefaultSorter>
            </th>
            <th width="7%" style="color: white;">
              <mfDefaultSorter by="feedback">Feedback</mfDefaultSorter>
            </th>
            <th width="13%" style="color: white;">
              <mfDefaultSorter by="sme">SME</mfDefaultSorter>
            </th>
            <th width="20%" style="color: white;">
              <mfDefaultSorter by="action">Action</mfDefaultSorter>
            </th>
          </tr>
        </thead>
        <tbody>

          <tr *ngFor="let trainingData of mf.data; let i = index">
            <td>{{trainingData.log_date | date: 'dd-MM-yyyy - H:mm:ss'}}</td>
            <td>
              <inline-editor empty="" type="text" [(ngModel)]="trainingData.question" (onSave)="modifyTrainingData($event)"
                name="editableText1" size="8"></inline-editor>
            </td>
            <td>
              <inline-editor empty="" type="text" [(ngModel)]="trainingData.answer" (onSave)="modifyTrainingData($event)"
                name="editableText1" size="8"></inline-editor>
            </td>
            <td>
              <inline-editor empty="" type="text" [(ngModel)]="trainingData.feedback" (onSave)="modifyTrainingData($event)"
                name="editableText1" size="8"></inline-editor>
            </td>
            <td class="actions">
              <inline-editor empty="" type="textarea" [(ngModel)]="trainingData.sme" placeholder="" (onSave)="modifyTrainingData($event)"
                name="editableText1" size="8"></inline-editor>
            </td>
            <td>
              <button class="btn btn-danger" value={{trainingData._id}} (click)="onClickDeleteTrainingData($event)">
                xDelete
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4">
              <mfBootstrapPaginator [rowsOnPageSet]="[10,25,50]"></mfBootstrapPaginator>
            </td>
          </tr>
        </tfoot>
      </table>

    </div>
  </div>
</div>
</body>